extends ../layouts/default

block intro
	.container
		h1 Documents
		
block content
	.container: .row: .col-sm-12
		table.table
			tr
				th Document title
				th Identifier
				th Publication year
				th Created at
				th File URL
				th XML
			each doc in data.documents
				tr
					td= doc.title
					td= doc.identifier
					td= doc.publicationYear
					td= doc._.createdAt.format('MMMM Do, YYYY')
					td
						if doc.file.url 
							a(href=doc.file.url): span.glyphicon.glyphicon-download-alt
						else
							span.glyphicon.glyphicon-remove
					td
						a(href='/#{doc.identifier}'): span.glyphicon.glyphicon-download-alt
